body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #f8f9fa;
  color: #020812;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-sizing:border-box;
}

header h1 {
margin: 0;
}

header img {
  height: 150px; 
  width: auto;
  vertical-align: middle;
  object-fit: contain;
}

header nav a {
  color: #000000;
  margin-left: 1rem;
  text-decoration: none;
}

header nav a:hover {
  color: #007bff;
}

main {
  padding: 2rem;
}

.ad-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
